.app {
	color: purple;
}

body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-color: lightgrey;
	font-size: small;
}

h4 {
	font-size: small;
}

h3 {
	font-size: medium;
}

h2 {
	font-size: large;
}

h1 {
	font-size: larger;
}
