body {
	color: darkslategrey;
	background-color: rgb(236, 236, 236);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: medium;
}

h4 {
	color: steelblue;
	font-weight: lighter;
	font-size: medium;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
